<div class="mb-4 text-center">
  <div class="mb-3 d-flex justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
      <%= form_with url: portfolios_searches_path,
                    method: :get,
                    data: { turbo_frame: "portfolios_cards", controller: "portfolio-search" },
                    local: true do |f| %>
        <div class="input-group">
          <%= f.search_field :q,
                             value: @query,
                             class: "form-control",
                             placeholder: "Search portfolios by name or tagline",
                             data: { action: "input->portfolio-search#submit" } %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- All button -->
  <%= link_to "All",
              portfolios_searches_path,
              data: { turbo_frame: "portfolios_cards" },
              class: "btn btn-sm mx-1 letter-filter-button #{@letter.nil? ? 'active' : ''}" %>

  <% @letters.each do |letter| %>
    <%= link_to letter,
                portfolios_searches_path(letter: letter, q: @query),
                data: { turbo_frame: "portfolios_cards" },
                class: "btn btn-sm mx-1 letter-filter-button #{@letter == letter ? 'active' : ''}" %>
  <% end %>
</div>
