<div class="container mt-5">
  <div class="text-center mb-5">
    <h1 class="display-4">Developer Portfolios</h1>
    <p class="lead text-muted">
      A curated collection of <span class="fw-bold"><%= @total_portfolios_count %></span> developer portfolios
    </p>
    <small>Data sourced from <a href="https://github.com/emmabostian/developer-portfolios">emmabostian/developer-portfolios</a></small>
  </div>

  <%= render "portfolios/letter_filters" %>

  <turbo-frame id="portfolios_cards">
    <%= render 'portfolios/portfolio_cards', portfolios: @portfolios %>
  </turbo-frame>
</div>
